<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="{{url_for('static', filename='js/NSDF.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NSDF.css') }}">
    <meta charset="utf-8">
    <title>NSDF Port</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header_backdrop">
        <div class="header_text">
          <h1>NSDF Data Portal Example</h1>
          <div id="header_img">
            <img src="http://nsdf.sci.utah.edu/images/images/NSDF.png" alt="NSDF logo">
          </div>
        </div>
      </div>

      <div class="sidenav">
        <a title="NSDF" rel="home" class="" onclick="window.location.href='{{ url_for( 'index') }}';">Data Portal</a>
      </div>

      <div class="button_section">
        <div class="selection_menu">
          <label for="data_sets">Choose a data set:</label>
          <select name="data_sets" id="data_sets">
            <option value="foam slice">foam slice</option>
            <!-- <option value="3D rabbit">3D Rabbit</option> -->
            <!-- <option value="other data set">other</option> -->
          </select>
        </div>
        <div class="button_containers">
          <button class="cloud_lab button" onclick="cloud_lab_links()"> Run on Cloud Lab</button>
          <button class="locally button" type="submit" onclick="locally_files()">Run locally (downlad file)</button>
          <button class="colab button" onclick="colab_links()">Run on Google Colab</button>
          <button class="inline button" onclick="window.location.href='{{ url_for( 'plot_it0') }}';">View Data Set inline</button>
        </div>

        <!-- Code that adds the plot if inline button is clicked -->

        {% if text %}

        <div class="foam_mg">
          <img src="{{text}}"/>
        </div>


        <form class="colormap-selector" method="POST" action="{{ url_for('updatePlot') }}">
          <div class="form-group">
            <!-- Adds the data source selection Menu -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Data Source: </span>
                <select name="data_source" class="selectpicker form-control">
                  <option name = "random" value= "3" {% if dataSorce ==3 %} selected {% endif %}>Random</option>
                  <option name = "OSN" value= "0" {% if dataSorce ==0 %} selected {% endif %}>Open Storage Newtork (OSN) Pod</option>
                  <option name = "UoU_server" value= "1" {% if dataSorce ==1 %} selected {% endif %}>University of Utah Campus Server</option>
                  <option name = "Wasabi" value="2" {% if dataSorce ==2 %} selected {% endif %}>Wasabi Commercial Cloud Storage</option>
                </select>
              </div>

            <!-- Adds the data source selection Menu -->
            <div class="form-group">
              <span class="input-group-addon">Colormap: </span>
              <select name="cmap_select" class="selectpicker form-control">
                <option name = "plasma" value= "plasma" {% if colormap =="plasma" %} selected {% endif %}>plasma</option>
                <option name = "inferno" value= "inferno" {% if colormap =="inferno" %} selected {% endif %}>inferno</option>
                <option name = "viridis" value="viridis" {% if colormap =="viridis" %} selected {% endif %}>viridis</option>
              </select>
            </div>

            <div class="time_slider">
              <span>time (0-3) Current: {{time}}</span>
              <input type="range" min="0" max="3" name="timeslider" {% if time %} value="{{time}}" {% endif %}>
            </div>

            <div class="slice_slider">
              <span>Slice (0-1023) Current Slice: {{slice}}</span>
              <input type="range" min="0" max="1023" name="sliceslider" {% if slice %} value="{{slice}}"  { % else % } value="513" {% endif %}>
            </div>

            <div class="Resolution_slider">
              <span>Resolution (coarse=-5,full=0) Current: {{res}}</span>
              <input type="range" min="-5" max="0" name="resslider" {% if res %} value="{{res}}"  { % else % } value="-2" {% endif %}>
            </div>

            <button type="submit" class="btn btn-default">Update Image</button>
          </div>
        </form>


        {% else %}

        {% endif %}
      </div>

    </div>
  </body>
</html>
