<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="{{url_for('static', filename='js/NSDF.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NSDF.css') }}">
    <meta charset="utf-8">
    <title>NSDF Port</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header_backdrop">
        <div class="header_text">
          <h1>NSDF Data Portal Example</h1>
          <div id="header_img">
            <img src="http://nsdf.sci.utah.edu/images/images/NSDF.png" alt="NSDF logo">
          </div>
        </div>
      </div>

      <div class="sidenav">
        <a title="NSDF" rel="home" class="" onclick="window.location.href='{{ url_for( 'index') }}';">Data Portal</a>
      </div>

      <div class="button_section">
        <div class="selection_menu">
          <label for="data_sets">Choose a data set:</label>
          <select name="data_sets" id="data_sets">
            <option value="foam slice">foam slice</option>
            <!-- <option value="3D rabbit">3D Rabbit</option> -->
            <!-- <option value="other data set">other</option> -->
          </select>
        </div>
        <div class="button_containers">
          <button class="cloud_lab button" onclick="cloud_lab_links()"> Run on Cloud Lab</button>
          <button class="locally button" type="submit" onclick="window.location.href='{{ url_for( 'download') }}';">Run locally (downlad file)</button>
          <button class="colab button" onclick="colab_links()">Run on Google Colab</button>
          <button class="inline button" onclick="window.location.href='{{ url_for( 'plot_it0') }}';">View Data Set inline</button>
        </div>

        {% if text %}
        <iframe src="http://localhost:5006/Bokeh_Server" title="Map IFRAME" width=900pt height=900pt>
          Your browser doesn't support iFrames.
        </iframe>
        {% else %}

        {% endif %}
      </div>
    </div>
  </body>
</html>
