<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="{{url_for('static', filename='js/NSDF.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NSDF.css') }}">
    <meta charset="utf-8">
    <title>NSDF Port</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header_backdrop">
        <div class="header_text">
          <h1>NSDF Data Portal Example</h1>
          <div id="header_img">
            <img src="http://nsdf.sci.utah.edu/images/images/NSDF.png" alt="NSDF logo">
          </div>
        </div>
      </div>

      <div class="sidenav">
        <a href="data_page2.html" title="NSDF" rel="home" class="">Data Portal</a>
      </div>

      <div class="button_section">
        <div class="selection_menu">
          <label for="data_sets">Choose a data set:</label>
          <select name="data_sets" id="data_sets">
            <option value="foam slice">foam slice</option>
            <option value="3D rabbit">3D Rabbit</option>
            <option value="other data set">other</option>
          </select>
        </div>
        <div class="button_containers">
          <button class="cloud_lab button" onclick="cloud_lab_links()"> Run on Cloud Lab</button>
          <button class="locally button" type="submit" onclick="locally_files()">Run locally (downlad file)</button>
          <button class="colab button" onclick="colab_links()">Run on Google Colab</button>
          <button class="inline button" onclick="window.location.href='{{ url_for( 'updatePlot') }}';">View Data Set inline</button>
        </div>

        <!-- Code that adds the plot if inline button is clicked -->

        {% if text %}

        <div class="foam_mg">
          <img src='static/foam_slice.png'/>
        </div>

        <form action="/update_img" method="POST"> <!-- note action -->
          <div class="colormap_menu">
            <label for="color_maps">Colormap:</label>
            <select name="colourmap">
              <option value= "plasma">plasma</option>
              <option value= "inferno">inferno</option>
              <option value="viridis">viridis</option>
            </select>
          </div>
          <button type="button" onclick="window.location.href='{{ url_for( 'updatePlot') }}';">update plot</button>
        </form>


        {% else %}

        {% endif %}
      </div>

    </div>
  </body>
</html>
